.plansScreen-plan {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.plansScreen-plan button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    width: 120px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #e50914;
}